.homepage{
    display:flex;// used for making flexible layout 
    flex-direction: column; // setting flex direction 
    align-items: center; // align it in centre 
    padding: 20px 80px; // giving top and bottom padding 
}
.directory-menu{
    display: flex;// creating flexible layout 
    flex-wrap:wrap;// wrapping the flax
    width:100%;// this will take complete width respect to home page
    justify-content: space-between;
    // The CSS justify-content property defines how the browser distributes space between and around content items along the main-axis of a flex container, and the inline axis of a grid container. The interactive example below demonstrates some of the values using Grid Layou
}

.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;

    &:first-child{
        margin-right: 7.5px;
        // margin-left: 10px;
    }
    &:last-child {
        margin-left: 7.5px;
      }
    .content{
        height: 90px;
        // background-color:greenyellow;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        border: 1px solid black;
        // padding:5px;
        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
          }
          .subtitle {
            font-weight: lighter;
            font-size: 16px;
          }
    }
}